.ctn_input {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    position: relative;
    // margin-bottom: 20px;
}
.input {
    @extend %InputStandard;
    @extend %Text14;
    width: fit-content;
    &_error {
        &:focus,
        &:focus-visible,
        &:active,
        &:hover {
            border-color: red;
        }
        border-color: red;
    }
    &_errorText {
        @extend %Text14;
        position: absolute;
        top: 100%;
        color: red;
    }
}
