@import "/src/components/common-styles/";

.form {
  &_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $gap;
    }
    &_blockSend {
      width: 100%;
      display: flex;
      // justify-content: flex-start;
    }
  }
  &_select {
  }
  &_calendarBlock {
    position: relative;
  }
  &_calendar {
    position: absolute;
    // top: -100%;
    left: 0;
  }
}
