.slider_ctn {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 0 100px;
  gap: 10px;
  width: 100%;
  height: 100%;
  :global(.swiper-thumbs .swiper-slide) {
    opacity: 0.5 !important;
  }
  :global(.swiper-thumbs .swiper-slide-thumb-active) {
    opacity: 1 !important;
  }
  .arrow_next,
  .arrow_prev {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 35%;

    z-index: 2;

    padding: 0;
    background-color: $color-main-white;
    cursor: pointer;
    transition: $transiton;
    &_icon {
      color: $color-main-black;
      transition: $transiton;
      font-size: 30px;
    }
    &:hover {
      background-color: $color-main-blue;
      color: $color-main-white;
    }
    &:active {
      background-color: $color-main-blue;
      color: $color-main-white;
    }
    &_icon:hover {
      color: $color-main-white;
    }
    &_icon:active {
      color: $color-main-white;
    }
  }
  .arrow_prev {
    left: -10px;
  }
  .arrow_next {
    right: -10px;
  }

  .disable_arrow {
    display: none;
    color: $color-main-grey;
    border-color: $color-main-grey;
    &:hover {
      border-color: $color-main-grey;
    }
    &:active {
      border-color: $color-main-grey;
    }
  }

  .skeleton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    &_slide {
      min-height: 320px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &_image {
      width: 100%;
      height: 300px;
    }
    &_button {
      width: 100%;
    }
  }
}
.album_slider {
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: $transiton;
    cursor: grab;
  }
  &_img {
    object-fit: cover;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: $border-radius-5;
  }
}
.pagination {
  height: 100%;
  &_bullet {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;

    &_img {
      border-radius: $border-radius-10;
      height: 100%;
      transition: $transiton;
      object-fit: cover;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.button_back {
  position: absolute;
  z-index: 2;
  top: calc(10px + 20px);
  left: calc(20px + 20px);
  padding: 7px 10px;
  border-radius: $border-radius-20;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $gap-small;
  background-color: $color-additional-background;
  transition: $transiton;
  border: 1px solid transparent;

  &_icon {
    transition: $transiton;
  }
  &:hover {
    border-color: $color-main-gold;
  }
  &:hover &_icon {
    color: $color-main-gold;
  }
}
@include mediaNetbook {
  .arrow_prev,
  .arrow_next {
    display: none;
  }
}
