.like,
.contact,
.schedule {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-small;
}
.share_popup,
.contact_popup,
.schedule_popup {
  color: $color-main-black;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  z-index: 2;
  background-color: $color-additional-background;
  padding: 5px;
  border-radius: $border-radius-5;
  transition: $transiton;
  @extend %Text14;
  transform: scale(0);
  width: max-content;
  &_active {
    transform: scale(1);
  }
  & h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid $color-main-black;
  }
}
.share {
  position: relative;
  transition: $transiton;
  // &:hover {
  //   color: $color-main-gold;
  // }
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-small;
    cursor: pointer;
    transition: $transiton;
    &.active {
      color: $color-main-gold;
    }
  }

  &_popup_list {
    display: flex;
    gap: $gap-small;
    & a {
      display: flex;
      align-items: center;
    }
    &_item {
      font-size: 20px;
    }
  }
  &_visible {
  }
}

.like {
}
.contact {
  &_popup {
    right: auto;
    padding: 20px;
    .contact &_list {
      cursor: default;
      display: flex;
      flex-direction: column;
      gap: $gap-medium;
      padding: 10px 0;
      &_item a {
        display: flex;
        align-items: center;
        gap: $gap-small;
        transition: $transiton;

        & span {
          color: $color-main-black;
          transition: $transiton;
        }
        &:hover span {
          color: $color-main-gold;
        }
      }
      &_item_icon {
        font-size: 16px;
      }
    }
  }
}
.schedule {
  &_popup {
    cursor: default;
    right: auto;
    padding: 20px;
    .schedule &_list {
      cursor: default;
      display: flex;
      flex-direction: column;
      gap: $gap-medium;
      padding: 10px 0;
      &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-small;
        transition: $transiton;
        color: $color-main-black;
      }
      &_item_icon {
        font-size: 16px;
      }
    }
  }
}

@include mediaPhone {
  .share_popup {
    &_list {
      justify-content: space-between;
      flex-wrap: wrap;
      &_item {
        font-size: 30px;
      }
    }
  }
}
