.scheduleWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    margin-bottom: 20px;
    & .select_ctn.select_ctn {
        padding: 0;
        margin-bottom: 0;
        width: 100%;
        min-width: fit-content;
        border-radius: $border-radius-5;
        justify-content: space-between;

        & span {
            min-width: fit-content;
        }
    }
}

.dayRow {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: $gap-medium;
    align-items: center;
    &_emptyMobile {
        display: none;
    }
}

.dayLabel {
    // width: 40px;
    font-weight: bold;
}
.scheduleNote_error {
    color: red;
}
// .select {
//     &_ctn {
//         padding: 0;
//         margin-bottom: 0;
//         width: 100%;
//         min-width: fit-content;
//         border-radius: $border-radius-5;
//         justify-content: space-between;
//         & span {
//             min-width: fit-content;
//         }
//     }
// }

@include mediaPhone {
    .dayRow {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: $gap-medium;
        &_emptyMobile {
            display: block;
        }
    }
}
