.list {
    // display: flex;
    // flex-direction: column;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    gap: 5px;
    & li {
        padding: 5px 16px;
        background-color: transparent;
        transition: $transition;
        overflow: hidden;
        border: 1.5px solid transparent;
        &:hover {
            // background-color: $color-main-gold;
            border-color: $color-main-gold;
            border-radius: 10px;
            transform: scale(1.01);
            box-shadow: $box-shadow-default;
        }
        &.active {
            // background-color: $color-main-gold;
            border-color: $color-main-gold;
            border-radius: 10px;
            transform: scale(1.01);
            box-shadow: $box-shadow-default;
        }
    }
    // & a.active {
    //     // background-color: $color-main-gold;
    //     border: 1px solid black;
    //     border-radius: 10px;
    // }
}

.itemEmpty {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: $gap-big;
    &_iconCtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap-small;
        background-color: $color-additional-background;
        border-radius: $border-radius-5;
        height: 50px;
        width: 50px;
    }
    &_icon {
        font-size: 20px;
    }
}
