// interpolation
//1
$icon-name: "user";
.icon-#{$icon-name} {
  background-image: url("#{$icon-name}");
}
//2
@mixin btn-icon($name, $horizontal-position) {
  position: relative;
  padding-#{$horizontal-position}: 40px;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;

    position: absolute;
    #{$horizontal-position}: 10px;
    top: 50%;
    transform: translateY(50%);

    background-image: url(#{$name});
    background-repeat: no-repeat;
    background-size: cover;
  }
  .but{
    @include btn-icon('icon', 'right')
  }
}
// map
$btn-map: (
  primary: black,
  success: green,
  error: red,
);

// @if () ;
