$color-main-background: rgb(214, 219, 220);
$color-additional-background: #f5f5f7;

$color-main-gold: #bea97c;
$color-main-blue: #005ba1;
$color-main-black: #111216;
$color-main-white: #ffffff;
// $color-main-white_blue: #ffffff;
$color-main-grey: rgba(124, 124, 124, 1);
$color-main-grey-light: #f4f4f4;
$color-overlay: rgba(0, 0, 0, 0.3);

$color-main-blue_hover: #237fc6;

$color-gradient-bg-banner: linear-gradient(
    0deg,
    rgba(20, 17, 85, 0.12),
    rgba(20, 17, 85, 0.12)
  ),
  linear-gradient(180deg, rgba(48, 45, 129, 0) 0%, rgba(6, 4, 53, 0.2) 100%);
$color-gradient-bg-card: linear-gradient(
    0deg,
    rgba(20, 17, 85, 0.12),
    rgba(20, 17, 85, 0.12) 0%
  ),
  linear-gradient(180deg, rgba(48, 45, 129, 0), rgba(6, 4, 53, 0.6) 100%);

$gap: 8px;

$border-radius-small: 100px;

$media-netbook: 1280px;
$media-tablet: 1024px;
$media-phone: 768px;
$media-mini-phone: 350px;

$transiton: all 0.3s;
