.form {
    // max-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $gap-big;
    align-items: flex-start;
    margin-bottom: 32px;
    padding-bottom: 20px;
    &_blockName {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: $gap-medium;
        &_item {
            // width: 50%;
        }
    }
    &_buttonSubmit {
        border-radius: $border-radius-10;
    }
}
.selectBlock {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
}

.selectionBlock {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    width: 100%;
    &_title {
        @extend %Text22;
        text-decoration: underline;
    }
    &_content {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
    }
}

.socialRow {
    display: flex;
    align-items: center;
}


.chooseType {
    display: flex;
    gap: $gap-medium;
    &_item {
        color: $color-main-black;
        background-color: $color-additional-background;
        transition: $transition;
        padding: 8px 10px;
        cursor: pointer;
        border-radius: $border-radius-10;
        &_active {
            color: $color-main-white;
            background-color: $color-main-blue;
        }
        &:hover {
            color: $color-main-white;
            background-color: $color-main-blue_hover;
        }
    }
}

