.mapBlock {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    position: relative;
    margin-bottom: 20px;
    &_button {
        border-radius: $border-radius-5;
    }
}
.choice {
    @extend %BoxDeep;
}

.buttonAcceptPosition {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
