@import "/src/components/common-styles/";

.underHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_breadcrump {
  }
  &_buttons {
    @extend %Text14;
    display: flex;
    align-items: center;
    gap: $gap;
    &_but {
    }

    &_icon {
      font-size: 18px;
      transition: $transiton;
    }
    &_but:hover &_icon {
      color: $color-main-gold;
    }
  }
}
.title {
  display: flex;
  justify-content: space-between;
  &_right {
    display: flex;
    gap: 32px;
  }
  &_type {
  }
  &_rating {
  }
  &_price {
  }
  &_location {
  }
}
