.breadcrumb {
}
.content {
}
.content .listMainland {
    display: flex;
    flex-direction: column;

    &_item {
        @extend %Text18;
        margin-bottom: 10px;
    }
}
.content .listCountry {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $gap-small;
    margin-bottom: 80px;
    &_item {
        // width: fit-content;
        padding: 10px 15px;
        background-color: $color-additional-background;
        border-radius: $border-radius-5;
        transition: $transition;
        & > li {
            display: flex;
            align-items: center;
            gap: $gap-small;
        }
        &:hover {
            box-shadow: $box-shadow-default;
        }
        &_image {
            height: auto;
            width: auto;
            max-width: 46px;
            aspect-ratio: 12/7;
            border-radius: $border-radius-5;
        }
    }
}

@include mediaTablet {
    .content .listCountry {
        grid-template-columns: repeat(3, 1fr);
    }
}
@include mediaPhone {
    .content .listCountry {
        grid-template-columns: repeat(1, 1fr);
    }
}
