.section {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
}
.content {
    display: grid;
    grid-template-columns: auto calc(100% - 274px + 10px);
    gap: $gap-big;
    &_switcher {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: $gap-medium;
        padding: 15px 10px;
        border-radius: $border-radius-10;
        background-color: $color-additional-background;
        position: sticky;

        top: $header-height;
        max-height: calc(100vh - $header-height - 5px);
        &_title {
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
    }
}
.searchInfo {
    // @extend %Text14;
    color: $color-main-grey;
}
.listSearch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-medium;
    &_item {
        display: block;
        padding: 15px 10px;
        background-color: $color-additional-background;
        border-radius: $border-radius-10;
        transition: $transition;
        border: 1px solid transparent;
        height: 100%;
        &:hover {
            border-color: $color-main-gold;
            box-shadow: $box-shadow-default;
        }
    }
}
.itemEmpty {
    width: fit-content;
    &_button {
    }
    &_icon {
    }
}
@include mediaNetbook {
    // .content{
    //     display: flex;
    //     flex-direction: column;
    // }
    .listSearch {
        grid-template-columns: repeat(2, 1fr);
    }
}
@include mediaTablet {
    .content {
        display: flex;
        flex-direction: column;
        &_switcher {
            position: static;
        }
    }
    // .listSearch{
    //     grid-template-columns: repeat(2,1fr);
    // }
}
@include mediaPhone {
    .listSearch {
        grid-template-columns: 1fr;
    }
}
