.breadcrumb {
  margin-bottom: 20px;
}
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: $gap-big;
  position: relative;
  &_item:first-child {
    grid-column: 1/2;
  }
  &_popular {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    position: sticky;
    top: 74px;
    height: calc(100vh - 74px);
    background-color: $color-additional-background;
    padding: 10px;
    border-radius: $border-radius-10;
  }
  &_item:nth-child(3) {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.container_news {
  background-color: $color-additional-background;
  border-radius: $border-radius-10;
  padding: 30px;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.popular_desktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.title {
  margin-bottom: 10px;
}
.underTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $gap-medium;
  &_author {
    & a {
      color: $color-main-blue;
      transition: $transiton;
      &:hover {
        color: $color-main-gold;
      }
    }
  }
  &_publicDate {
    // font-weight: 500;
  }
}
.description {
  margin-bottom: 30px;
  @extend %Text18;
  text-align: justify;
  font-style: italic;
}
.block_mainImage {
  & span {
    @extend %Text12;
    color: $color-main-grey;
  }
}
.mainImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: $border-radius-20;
  max-height: 500px;
}
.markdownContent {
  margin: 50px 0;
  text-align: justify;
}
.share {
  margin-bottom: 15px;
}
.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  &_title {
    @extend %Text18;
  }
  &_list {
    display: flex;
    gap: 5px;
    &_item {
      padding: 3px;
      border: 1.5px solid $color-main-black;
      border-radius: $border-radius-5;
      cursor: pointer;
      background: $color-main-background;
      transition: $transiton;
      &:hover {
        border-color: $color-main-gold;
        border-radius: $border-radius-10;
        color: $color-main-gold;
      }
    }
  }
}
.reaction {
}
.popular_title {
  margin-bottom: 10px;
}
.popular_mobile {
  display: none;
}

@include mediaTablet {
  .content {
    display: flex;
    flex-direction: column;

    &_item:first-child,
    &_item:nth-child(2),
    &_item:nth-child(3) {
      grid-column: none;
      position: static;
    }
    &_popular {
      padding: 10px 0;
      height: auto;
      background: none;
      border-radius: 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
  .popular_mobile {
    display: block;
  }
  .popular_desktop {
    display: none;
  }
  .container_news {
    padding: 15px;
  }
}
