.user {
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switcher {
    width: 100%;
    display: flex;
    justify-content: center;
    &_content {
        width: 100%;
    }
}
