.switchToggle {
    display: flex;
    align-items: center;
    gap: $gap-small;
    cursor: pointer;
    background-color: $color-additional-background;
    padding: 10px;
    border-radius: $border-radius-5;
}
.input.ant-switch.ant-switch-checked {
    background: red;
}
