.blockLocations {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.info_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    gap: $gap;
    &_seeMore {
        display: none;
    }
}

@include mediaPhone {
    .info_block {
        grid-template-columns: repeat(2, 1fr);

        &_seeMore {
            display: flex;
            justify-content: center;
            width: 100%;
            grid-column: 1/3;
        }
    }
}
