.groupButton {
    display: flex;
    gap: $gap-big;
    padding: 20px 30px;
    background-color: $color-main-white;
    border-radius: $border-radius-20;
    &_item {
        @extend %Text18;
    }
}
.text_additional{
    color: $color-main-white;

}