.page {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
}
.switcher {
    width: 100%;
    display: flex;
    justify-content: center;
    &_content {
        width: 100%;
    }
}

.tab {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
}
.avatar {
    &_ctn {
        display: flex;
        flex-direction: column;
        gap: $gap-small;
    }
    display: flex;
    position: relative;
    // flex-direction: column;
    width: 250px;
    height: 250px;
    gap: $gap-small;

    &_img {
        border-radius: $border-radius-5;
        object-fit: cover;
    }
}
.description {
    height: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    // max-width: 1000px;
    // margin: 0 auto;
}
.selectionBlock {
    display: flex;

    flex-direction: column;

    gap: $gap-medium;
    &_title {
        font-weight: 700;
        @extend %Text18;
        text-decoration: underline;
    }
    &_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        align-items: center;
        gap: $gap-medium;
    }
}
.selectBlock {
    display: flex;
    flex-direction: column;
    gap: $gap-small;

    & label {
    }
}
.document {
    &_upload {
        margin-bottom: 20px;
    }
    &_list {
        align-self: flex-start;
        margin: 5px 7px;
    }
}

.buttonSubmit {
    width: fit-content;
    border-radius: $border-radius-10;
}
@include mediaTablet {
    .selectionBlock {
        &_content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@include mediaPhone {
    .selectionBlock {
        &_content {
            grid-template-columns: 1fr;
        }
    }
}
