.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: $gap-big;
    background-color: $color-additional-background;
    border-radius: $border-radius-10;
    overflow: hidden;

    &_image {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        &_img {
            aspect-ratio: 16 / 9;
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: $transition;
        }
    }
    &:hover .cardNews_image_img {
        transform: scale(1.02);
    }
    &_content {
        height: 100%;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $gap-medium;

        &_title {
            height: fit-content;
            @extend %Text18;
            @include textCut(3);
        }
        &_additional {
            display: flex;
            justify-content: space-between;
            gap: $gap-small;
            @extend %Text12;
            color: $color-main-grey;
        }
        &_date {
        }
    }
}
@include mediaTablet {
    .card {
        height: 100%;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        gap: $gap-small;
        &_image_img {
            height: 100%;
        }
        &_content {
            padding: 7px 5px;
            gap: $gap-small;
            &_date,
            &_title {
            }
        }
    }
}
