@import "/src/components/common-styles/";
.footer {
  z-index: 1;
  & .container {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    padding-top: 48px;
    padding-bottom: 48px;
    color: $color-main-grey;
  }

  &_left {
    display: flex;
    gap: $gap;
  }
  &_center {
  }
  &_right {
    display: flex;
    gap: $gap;
  }
  &_item {
    cursor: pointer;
    transition: $transiton;
    &:hover {
      color: $color-main-black;
    }
  }
}
@media screen and (max-width: $media-tablet) {
  .footer {
    & .container {
      // flex-direction: column;
    }
    &_left {
      flex-direction: column;
    }
    &_right {
      flex-direction: column;
    }
  }
}
@media screen and (max-width: $media-phone) {
  .footer {
    & .container {
      flex-direction: column;
    }
  }
}
