.tagBlockForm {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    position: relative;
    margin-bottom: 20px;

    & &_button,
    & .button_accept {
        border-radius: $border-radius-10;
    }
}

.tagGroup {
    margin-bottom: 16px;

    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    }
}

.iconCancel {
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: red;
    }
}

.selectedList {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}

.error_text {
    position: absolute;
    top: 100%;
    color: red;
}