.header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px 0;
  background: $color-main-background;
  & .container {
    @extend %display-between;
    gap: $gap;
  }
}

.logo {
  &_small {
    display: none;
  }
}

.right {
  @extend %display-center;
  gap: 10px;
  &_lang {
  }
  &_auth {
    &_button {
      @extend %Text14;
      text-wrap: nowrap;
    }
  }
}
.test {
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &_title {
    font-size: 20px;
  }
  &_link {
    &:hover {
      text-decoration: underline;
    }
  }
}
@include mediaTablet {
  .nav_block {
    display: none;
  }

  .right {
    display: none;
  }
}
@include mediaMiniPhone {
  .logo {
    &_small {
      display: block;
    }
    &_big {
      display: none;
    }
  }
}
