.cardReview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-additional-background;
    padding: 20px;
    border-radius: $border-radius-20;
    @extend %Text14;
    overflow: hidden;
}

.user {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-blur-black;
    margin-bottom: 5px;
    &_left {
        display: flex;
        gap: $gap;
    }

    &_avatar {
        & img {
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
    }

    &_name {
        & span {
            font-weight: 700;
        }
    }

    &_dateReview {
        color: $color-main-grey;
        @extend %Text12;
    }
}

.album {
    display: flex;
    gap: $gap-small;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        cursor: grab;
    }

    &_image {
        & img {
            width: auto;
            max-height: 200px;
            border-radius: $border-radius-5;
        }
    }
}

.reviewBody {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    padding-bottom: 10px;

    &_dateVisit {
        color: $color-main-grey;
        @extend %Text12;
    }

    &_additionalRate {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    label {
        color: $color-main-grey;
        @extend %Text12;
    }
}

.establishment {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: $gap;
    background: $color-main-background;
    border-radius: $border-radius-20;

    &_image {
        height: 100%;

        & img {
            object-fit: cover;
            border-radius: $border-radius-20;
            aspect-ratio: 16 / 9;
            width: 100%;
            height: 100%;
            max-width: 300px;
            
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        gap: $gap-small;
        padding: 10px;
    }

    &_rate {
        display: flex;
        align-items: center;
        gap: $gap-small;
    }

    &_title {
        @extend %Text16;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 3;
    }

    &_location {
        display: flex;
        align-items: center;
        color: $color-main-grey;
        @extend %Text14;
    }
}


@include mediaPhone {
    .reviewBody {
        &_additionalRate {
            grid-template-columns: 1fr 1fr;
        }
    }
}