@import "/src/asset/common-styles/";
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: $gap;
    margin: 41px 0;
    &_text {
    }
    &_button {
        @extend %Text14;
        &_icon {
            font-size: 16px;
            transition: $transition;
        }
        &:hover &_icon {
            color: $color-main-gold;
        }
    }
}
.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
}
@media screen and (max-width: $media-tablet) {
    .list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: $media-phone) {
    .title {
        margin: 20px 0;
        &_button span {
            display: none;
        }
    }
    .title_button span {
        display: none;
    }
}
