.info_block {
    &_seeMore {
        display: none;
    }
}
.card {
    position: relative;
    height: 206px;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    z-index: 0;
    &_title {
        @extend %Text18;
    }
    &_subtitle {
        display: flex;
        align-items: center;
        @extend %Text14;
        color: $color-main-grey;
        &_icon {
            height: 100%;
            color: $color-main-grey;
            transform: translate(0, 2px);
        }
    }
    &_icon_default,
    &_icon_active {
        z-index: -1;
        position: absolute;
        width: auto;
        max-height: 100%;
        top: 30%;
        left: 40%;
        // right: 0;
        // bottom: 0;
        transition: $transiton;
        // transform: translate(40%, 20%);
    }
    &_icon_default {
        opacity: 1;
    }
    &_icon_active {
        opacity: 0;
    }
    &_bg {
        z-index: -1;
        background: linear-gradient(
            180deg,
            rgba(206, 206, 206, 0.4) 0%,
            rgba(187, 187, 187, 0.7) 100%
        );

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: $transiton;
    }
    &:hover &_icon_default {
        transform: translate(-20px, -20px);
        opacity: 0;
    }
    &:hover &_icon_active {
        transform: translate(-20px, -20px);
        opacity: 1;
    }
    &:hover &_bg {
        background: linear-gradient(
            180deg,
            rgba(190, 169, 124, 0.4) 0%,
            rgba(190, 169, 124, 0.7) 100%
        );
    }
}
.htmlMarkdown {
    display: flex;
    gap: $gap-medium;
    flex-wrap: wrap;

    & a {
      display: flex;
      flex-direction: column;
      gap: $gap-small;
        padding: 10px;
        border-radius: $border-radius-5;
        border: 1px solid $color-main-grey;
    }
}

@media screen and (max-width: $media-tablet) {
    .card {
        height: 110px;
        &_icon_default,
        &_icon_active {
            left: 60%;
            // max-height: 70%;
            // transform: translate(100%, 20%);
            display: none;
        }
        // &:hover &_icon_default, &:hover &_icon_active {
        //   transform: translate(90%, 20%);
        // }
        .info__block_seeMore {
            display: block;
        }
    }
}
@media screen and (max-width: $media-phone) {
    .card {
        // height: 140px;
        &_icon_default,
        &_icon_active {
            max-height: 70%;
            left: 55%;
        }
        &:hover &_icon_default,
        &:hover &_icon_active {
            transform: translate(-7px, -7px);
        }
    }
}
