.socialRow {
    display: flex;
    align-items: center;
}
.selectSocial {
    // display: flex;
    width: fit-content;
    align-self: center;
    margin-bottom: 0;
    border-radius: $border-radius-10;
}
