.socialRow {
    display: flex;
    align-items: center;
}
.selectSocial {
    // display: flex;
    // width: fit-content;
    // // align-self: center;
    // margin-top:  6px;
    border-radius: $border-radius-10;
}
.selectSocialCtn {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
}
