.socialRow {
    display: flex;
    align-items: center;
}
.selectSocial {
    // display: flex;
    // width: fit-content;
    align-self: center;
    margin-top: 25px;
    border-radius: $border-radius-10;
}
