@import "/src/asset/common-styles/";
.card {
  display: flex;
  gap: 10px;
  &_img {
  }
  &_info {
    display: flex;
    flex-direction: column;

    &_title {
        @extend %Text18
    }
    &_location {
        @extend %Text12
    }
  }
}
