.card {
    display: grid;
    grid-template-columns: 70px auto;
    gap: 10px;
    max-height: 72px;

    &_img {
        width: 66px;
        height: 50px;
        & img {
            width: 100%;
            height: 100%;
            // max-width: 56px;
            // max-height: 56px;
            object-fit: cover;
            border-radius: $border-radius-5;
        }
    }
    &_info {
        display: flex;
        flex-direction: column;
        gap: $gap-small;
        &_title {
            @extend %Text18;
        }
        &_location {
            @extend %Text12;
            transition: $transition;
            &:hover {
                color: $color-main-blue;
            }
        }
    }
}
