.form_finder {
    height: 100%;
    position: relative;
    @extend %display-center;
    cursor: pointer;
}
.blockFinder {
    width: 100%;
    // padding: 11px 16px;
    border: 1px solid $color-main-grey;
    border-radius: 100px;
    min-width: 10px;
    &:hover,
    &:focus-within {
        border-color: $color-main-gold;
    }
    &_input {
        display: grid;
        padding: 11px 16px;
        grid-template-columns: 20px 1fr;
        gap: 8px;
        transition: $transition;
        transition: padding 0s;
    }
    &:hover .icon,
    &:focus-within .icon {
        color: $color-main-gold;
    }
    &_dropdown {
        position: relative;
    }
}

.icon {
    font-size: 20px;
    transition: $transition;
}
.iconClear {
    font-size: 20px;
    transition: $transition;
    &:hover {
        color: $color-main-gold;
    }
}
.ctnInput {
    & input {
        width: 90%;
        color: $color-main-black;
        background-color: transparent;
        border: none;
        &:focus-visible {
            outline: 0;
            border-color: $color-main-gold;
        }
    }
}
.dropdown {
    display: none;
    padding: 7px 10px;
}
.blockFinder[active-class="true"] {
    min-width: 50vw;
    max-width: 70vw;
    overflow: hidden;
    transition: $transition;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 10;
    background-color: $color-main-white;

    border-radius: 12px;

    & .blockFinder_input {
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        grid-template-columns: 20px 1fr 20px;
        & .ctnInput {
            width: 100%;
            & input {
                width: 100%;
            }
            &_clear {
                font-size: 20px;
            }
        }
    }
    & .dropdown {
        display: block;
    }
}

@include mediaTablet {
    .blockFinder[active-class="true"] {
        position: fixed;
        top: 20px;
        left: 20%;
    }
}
@include mediaPhone {
    .header_item {
        width: 100%;
    }
    .blockFinder[active-class="true"] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100vw;
        height: 80vh;
    }
}
