.image_ctn {
    display: flex;
    position: relative;
    width: 100%;
    &_image {
        height: 100%;
        width: 100%;
        border-radius: $border-radius-10;
    }
}

.buttonOpen {
    &_ctn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(49, 45, 130, 0.19);
        border-radius: $border-radius-10;
    }

    &_icon {
        font-size: 20px;
        transition: $transition;
    }
    &:hover &_icon {
        color: $color-main-gold;
    }
}
@include mediaTablet {
    .image_ctn {
        // position: relative;
        &_image {
            display: none;
        }
    }
}
