@import "/src/asset/common-styles/";

.switcher {
  display: flex;
  gap: 18px;
  background-color: $color-main-white;
  border-radius: $border-radius-small;
  max-width: 100%;

  &_item {
    @extend %Text14;
    color: $color-main-grey;
    position: relative;
    padding: 9.5px 16px;
    border-radius: $border-radius-small;
    text-wrap: nowrap;
    &.active {
      background-color: $color-main-black;
      color: $color-main-white;
    }

    &::before {
      content: "";
      width: 3px;
      height: 3px;
      position: absolute;
      right: -9px;
      top: 50%;
      background-color: $color-main-grey;
      border-radius: 50%;
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
  &_content {
    width: 100%;
  }
}
.switcher__mob {
  display: none;
  background-color: $color-main-white;
  border-radius: $border-radius-small;

  width: 100%;
 
  position: relative;
}

@media screen and (max-width: $media-phone) {
  .switcher__mob {
    display: flex;
    justify-content: center;
  }
  .switcher {
    display: none;
  }
}
