@import "/src/asset/common-styles/";
.filter_map {
}
.filter_block {
  overflow: auto;
  &_button {
    display: none !important;
  }
  &_title {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
}
@include mediaTablet {
  .filter_block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: $color-additional-background;
    z-index: 10;
    padding: 24px;
    border-radius: 20px 0 0 20px;
    transform: translate(100%, 0);
    transition: $transiton;
    &_button {
      display: flex !important;
      width: fit-content;
      &_icon {
        font-size: 20px;
        transition: $transiton;
      }
      &:hover &_icon {
        color: $color-main-gold;
      }
    }
    &_title {
      display: flex;
    }
  }
  .filter_block.active {
    transform: translate(0, 0);
  }
}
@include mediaPhone {
  .filter_map {
    width: 100%;
  }
  .filter_block_button {
    width: 100%;
  }
}
