.filter_map {
}
.filter {
  &_relative {
  }
  &_title {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
  &_content {
  }
  &_buttonGroup {
    @extend %Text14;
  }
}
.filter_buttonOpen,
.filter_buttonGroup {
  display: none !important;
}
@include mediaTablet {
  .filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 10;

    transform: translate(100%, 0);
    transition: $transiton;
    &_relative {
      display: flex;
      flex-direction: column;
      position: relative;
      background: $color-additional-background;
      // padding: 24px 0;
      padding-top: 24px;
      border-radius: 20px 0 0 20px;
      height: 100%;
      overflow: hidden;
    }
    &_title {
      display: flex;
      padding: 0 24px;
    }
    &_content {
      height: 100%;
      padding: 0 24px;

      overflow: auto;
    }
  }
  .filter.active {
    transform: translate(0, 0);
  }
  .filter_buttonOpen {
    display: flex !important;
    width: fit-content;
    &_icon {
      font-size: 20px;
      transition: $transiton;
    }
    &:hover &_icon {
      color: $color-main-gold;
    }
  }
  .filter_buttonGroup {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex !important;
    justify-content: space-between;
    gap: $gap-small;
    background-color: $color-additional-background;
    border-top: 1px solid #000;
    padding: 10px 24px;
    // &_count {
    //   display: flex;
    //   align-items: center;
    //   // justify-content: space-between;
    //   gap: $gap-small;
    //   background-color: $color-main-background;

    //   height: 100%;
    //   border-radius: $border-radius-small;

    //   border: 1px solid $color-main-grey;
    //   & span {

    //   }
    // }
    &_accept {
    }
    &_reset {
      transform: scale(0);
      max-width: 0;
      &_active {
        transform: scale(1);
        max-width: 1000px;
      }
    }
  }
}
@include mediaPhone {
  .filter_map {
    width: 100%;
  }
  .filter_buttonOpen {
    width: 100%;
  }
}
