@import "/src/components/common-styles/";
.list {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gap;
  &_item {
    display: flex;
    align-items: center;
    padding: 9.5px 16px;
    gap: $gap;
    border: 1px solid $color-main-grey;
    border-radius: $border-radius-small;
    cursor: pointer;
    transition: $transiton;
    &_text {
      @extend %Text14;
    }
    &_icon {
      font-size: 20px;
      transition: $transiton;
    }
    &:hover &_icon {
      color: $color-main-gold;
    }
    &:hover {
      border-color: $color-main-gold;
    }
  }
}
