@import "/src/asset/common-styles/";
.container {
  max-width: 1380px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto calc(100% - 324px + 10px);
  grid-template-rows: auto 1fr;

  &_filter {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 24px;
    background-color: $color-additional-background;
    border-radius: 20px;
    height: fit-content;
  }
  &_content {
    // max-width: 70vw;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    // border: 1px solid #bea97c;
  }
}
.title {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 32px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  &_text {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
  }
  &_groupButton {
    display: "flex";
    gap: $gap-small;
  }
}
.slider {
  margin: 48px 0;
}
.param {
  //   padding: 32px 0;
}
.sort {
  display: flex;
  gap: $gap-medium;
  align-items: center;
  background-color: rgb(245, 245, 247);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  &_select {
    width: fit-content;
    padding: 3px 5px;
  }
}
.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: $gap;
}

@media screen and (max-width: $media-tablet) {
  .container {
    display: flex;
    flex-direction: column;
    &_filter {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      gap: $gap;
      padding: 0;
      background-color: transparent;
    }
  }
  .table {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: $media-phone) {
  .table {
    grid-template-columns: 1fr;
  }
}
