.switcher {
    width: 100%;
    display: flex;
    justify-content: center;
    &_content {
        width: 100%;
    }
}

.tab {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
}
.form {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
}
.selectionBlock {
    display: flex;

    flex-direction: column;

    gap: $gap-medium;
    &_title {
        font-weight: 700;
        @extend %Text18;
        text-decoration: underline;
    }
    &_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        align-items: center;
        gap: $gap-medium;
    }
}
.socialRow {
    display: flex;
    align-items: center;
}
.selectSocial{
    width: fit-content;
}
.buttonSubmit {
    width: fit-content;
}
