@import "/src/components/common-styles";
.info__block {
}
.card {
  position: relative;
  height: 206px;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  z-index: 0;
  &_title {
    @extend %Text18;
  }
  &_subtitle {
    display: flex;
    align-items: center;
    @extend %Text14;
    color: $color-main-grey;
    &_icon {
      height: 100%;
      color: $color-main-grey;
      transform: translate(0, 2px);
    }
  }
  &_icon_default,
  &_icon_active {
    z-index: -1;
    position: absolute;
    width: auto;
    max-height: 100%;
    top: 30%;
    left: 40%;
    // right: 0;
    // bottom: 0;
    transition: $transiton;
    // transform: translate(40%, 20%);
  }
  &_icon_default {
    opacity: 1;
  }
  &_icon_active {
    opacity: 0;
  }
  &_bg {
    z-index: -1;
    background-color: rgba(206, 206, 206, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: $transiton;
  }
  &:hover &_icon_default {
    transform: translate(-20px, -20px);
    opacity: 0;
  }
  &:hover &_icon_active {
    transform: translate(-20px, -20px);
    opacity: 1;
  }
  &:hover &_bg {
    background-color: rgba(190, 169, 124, 0.5);
  }
}

@media screen and (max-width: $media-tablet) {
  .card {
    height: 140px;
    &_icon_default,
    &_icon_active {
      left: 60%;
      // max-height: 70%;
      // transform: translate(100%, 20%);
    }
    // &:hover &_icon_default, &:hover &_icon_active {
    //   transform: translate(90%, 20%);
    // }
  }
}
@media screen and (max-width: $media-phone) {
  .card {
    height: 140px;
    &_icon_default,
    &_icon_active {
       max-height: 70%;
      left: 55%;
    }
      &:hover &_icon_default, &:hover &_icon_active {
      transform: translate(-7px, -7px);
    }
  }
}
