.blockPhoneNumber {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    position: relative;
    margin-bottom: 20px;
}

.inputPhone {
    width: fit-content;
    padding: 4px 10px;
    @extend %InputStandard;
    @extend %Text14;

    &_error {
        &:focus,
        &:focus-visible,
        &:active,
        &:hover {
            border-color: red;
        }
        border-color: red;
    }
    &_errorText {
        @extend %Text14;
        position: absolute;
        top: 100%;
        color: red;
    }
    & input {
        border: none;
        margin-left: 5px;
    }
    & button {
        border: none;
        border-right: 1px solid $color-blur-black;
        
    }
   
}

