@import "./variables.scss";

%display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%display-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%underline {
    &::before {
        content: "";
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        height: 2px;
        min-width: 0px;
        transition: $transition;
        background-color: $color-main-gold;
    }
    &:hover::before {
        min-width: 100%;
    }
}
%hoverBackgroundDark {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-overlay;
        transition: $transition;
    }
    &:hover {
        &::before {
            background-color: transparent;
        }
    }
}
%Title {
    font-size: 32px;
    font-weight: 600;
    line-height: 35.6px;
}
%Text22 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26.2px;
}
%Text18 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
}
%Text16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
%Text14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
%Text12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
}
%BoxDeep {
    padding: 10px;
    box-shadow: inset 4px 4px 6px $color-main-grey;
    background: #e0e0e0;
    border-radius: 12px;
}
%InputStandard {
    width: 100%;
    background-color: $color-main-white;
    color: $color-main-black;
    padding: 12px 16px;
    border-radius: $border-radius-10;
    border: 1px solid $color-main-grey;
    transition: $transition;
    &:focus,
    &:focus-visible,
    &:active,
    &:hover {
        border-color: $color-main-gold;
    }
}
%TextareaStandard {
    width: 100%;
    min-height: 180px;
    background-color: $color-main-white;
    color: $color-main-black;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid $color-main-grey;
    transition: $transition;
    &:focus,
    &:focus-visible,
    &:active,
    &:hover {
        border-color: $color-main-gold;
    }
}
%InputStandardForm {
    @extend %InputStandard;
}
