.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-small;
    &_item {
        position: relative;
        height: 100px;
        &_img {
            object-fit: cover;
            border-radius: $border-radius-5;
        }
        &_iconDelete {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top:0;
            transform: translate(20%, -20%);
            z-index: 1;
            cursor: pointer;
            color: red;
            transition: $transition;
            padding: 1px;
            border-radius: 50%;
            background-color: $color-additional-background;
            border: 1px solid transparent;
            &:hover {
                color: rgb(105, 11, 11);
                border-color: $color-main-gold;
            }
        }
    }
}
