.tab {
    // display: flex;
    // flex-direction: column;
    // gap: $gap-big;
    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: $gap;
        margin: 41px 0;
    
        &_button {
            @extend %Text14;
            &_icon {
                font-size: 16px;
                transition: $transition;
            }
            &:hover &_icon {
                color: $color-main-gold;
            }
        }
    }
}

.list { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: $gap;
    
    .description {
        color: $color-main-grey;
        margin-right: $gap;
    }

    .link {
        color: $color-main-blue;
    }
}

