.profile {
    position: relative;
    &_image {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $color-main-grey;
        border-radius: 50%;
        overflow: hidden;
        transition: $transition;
        height: 100%;
        max-height: 54px;
        max-width: 54px;
        &:hover {
            border-color: $color-main-gold;
        }
        img {
            height: 100%;
            width: auto;
            border-radius: 50%;
        }
    }
    &_popup {
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        min-width: 100%;
        box-shadow: $box-shadow-black;
        background-color: $color-main-white;
        border-radius: $border-radius-5;
        width: 260px;
        transform: translate(0, 100px);
        opacity: 0;

        pointer-events: none;
        transition: $transition;
        &_active {
            transform: translate(0, 0);
            opacity: 1;
            pointer-events: all;
        }
    }
    &_list {
        &_item {
            display: flex;
            align-items: center;
            gap: $gap-small;
            cursor: pointer;
            padding: 10px 8px;
            transition: $transition;

            &:hover {
                background: $color-main-grey;
                color: $color-main-white;
            }
            &_icon {
                // height: 20px;
                // width: auto;
                // font-size: 20px;
            }
            span {
                display: block;
            }
        }
    }
}
