@import "/src/asset/common-styles/";

.select_ctn {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: $transition;
    &:hover .icon_ctn_icon {
        color: $color-main-gold;
    }
    &:hover {
        border-color: $color-main-gold;
        box-shadow: none;
    }
}
.select {
    height: 100%;
    @extend %Text14;
    &:focus {
        border-color: $color-main-gold;
        box-shadow: none;
    }
    &:hover {
        border-color: $color-main-gold;
        box-shadow: none;
    }
}
.icon_ctn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 12px;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    &_icon {
        transition: $transition;
        width: 22px;
        height: 22px;
    }
}
