@import "/src/components/common-styles/";

.switcher {
  width: 100%;
  display: flex;
  justify-content: center;
  &_content {
    width: 100%;
  }
}
// .switcher__mob {
//   display: flex;
//   gap: 18px;
//   background-color: $color-main-white;
//   border-radius: $border-radius-small;
//   &_item {
//     @extend %Text14;
//     position: relative;
//     padding: 9.5px 16px;
//     border-radius: $border-radius-small;
//     text-wrap: nowrap;
//     display: none;
//     &.active {
//       background-color: $color-main-black;
//       color: $color-main-white;
//       display: block;
//     }
//   }
//   &.open &_item {
//     display: block;
//   }
// }
// .switcher_ctn {
// }
